.DS_Store
**/.DS_Store

.config/gcloud/
.config/iterm2/
.config/fish/functions/
.config/configstore
.config/nvim/plugin/

.config/fish/conf.d/
.config/fish/completions/
.config/fish/fish_variables
.config/karabiner/

.config/flutter
