[alias]
	tree = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	t = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	ta = log --graph  --all --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	unstage = reset HEAD --
[core]
	editor = vscode --wait
	pager = less
[gui]
	encoding = utf-8
[color]
    ui = auto
[user]
	name = Yuki Matsushita
	email = katsumeshi@gmail.com
[github]
	user = katsumeshi
[merge]
	ff = no
[pull]
    ff = only