.DS_Store
**/.DS_Store

.config/gcloud/
.config/iterm2/
.config/configstore
.config/nvim/plugin/

.config/fish/fish_variables

.config/flutter
.config/karabiner/assets/complex_modifications
.config/karabiner/automatic_backups
.config/darktable
.config/.mono